u
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .split {
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      padding: 10px 0px 0px 0px;
      overflow-x: hidden;
    }

    .left {
      left: 0;
      background-color: #c4c4c4;
    }

    .right {
      right: 0;
      background-color: #acabab;
    }

    .head2 {
      margin-top: 35px;
      margin-left: 53px;
    }

    .head {
      margin-top: 33px;
      margin-left: 43px;
      position: absolute;
    }

    .paramsHead {
      margin-left: 43px;
      position: absolute;
    }

    .head4 {
      margin-top: 29px;
      margin-left: 43px;
      position: absolute;
    }

    .headt1 {
      margin-top: 40px;
      margin-left: 48px;
      position: absolute;
    }

    .headt2 {
      margin-top: 30px;
      margin-left: 48px;
      position: absolute;
    }

    .headt4 {
      margin-top: 20px;
      margin-left: 48px;
      position: absolute;
    }

    .tbl {
      margin-top: 8px;
      margin-left: 43px;
      width: 600px;
      height: 90px;
      border-radius: 9px;
      border: 1px solid rgb(0, 0, 0);
      padding: 10px;
    }

    .req {
      margin-left: 43px;
      margin-top: 5px;
    }

    .tbl2 {
      margin-top: 10px;
      margin-left: 43px;
      min-height: 50px;
      position: relative;
      width: 600px;
      border-radius: 9px;
      border: 1px solid rgb(0, 0, 0);
      padding: 10px;
    }

    .tokenText.class1 {
      margin: -10px -10px;
      width: 620px;
      height: 70px;
      padding: 15px;
      border-radius: 9px;
      font-size: 16px;
      resize: none;
    }

    .tbl4 {
      margin-top: 67px;
      margin-left: 43px;
      width: 600px;
      min-height: 50px;
      border-radius: 9px;
      border: 1px solid rgb(0, 0, 0);
      padding: 10px;
    }

    .tbl3 {
      min-height: 50px;
      position: relative;
      margin-top: 10px;
      margin-left: 43px;
      width: 600px;
      border-radius: 9px;
      border: 1px solid rgb(0, 0, 0);
      padding: 10px;
    }

    label {
      font-size: 22px;
    }

    .lbl {
      margin-top: 10px;
      margin-left: 10px;
    }

    .lbl2 {
      margin-left: 10px;
    }

    .lbl3,
    .lbl4 {
      margin-top: 16px;
      margin-left: 10px;
    }

    .btn {
      margin-top: 10px;
      margin-left: 400px;
    }

    .btn-add {
      margin-top: -20px;
      margin-left: 631px;
      display: inline-block;
      outline: none;
      cursor: pointer;
      font-weight: 400;
      border-radius: 9px;
      padding: 1.5px 6px;
      border: 0;
      color: #000000;
      background: #e7ebee;
      line-height: 1.15;
      font-size: 16px;
    }

    .btn-add:hover {
      transition: all .1s ease;
      box-shadow: 0 0 0 0 #fff, 0 0 0 3px #da0c0c;
    }

    .btn-header {
      margin-top: 28px;
      margin-left: 235px;
      display: inline-block;
      outline: none;
      cursor: pointer;
      font-weight: 400;
      border-radius: 9px;
      padding: 1.5px 6px;
      border: 0;
      color: #000000;
      background: #e7ebee;
      line-height: 1.15;
      font-size: 16px;
    }

    .btn-header:hover {
      transition: all .1s ease;
      box-shadow: 0 0 0 0 #fff, 0 0 0 3px #da0c0c;
    }

    #method {
      width: 150px;
      padding: 8px;
      border: 1px solid #f4f4f4;
      border-radius: 5px;
      font-size: 16px;
      background-color: #f7f7f7;
      color: #333;
    }

    #method option {
      background-color: #fff;
      color: #333;
    }

    .check1 {
      margin-top: 7px;
      margin-left: 95%;
    }

    .btn-gen {
      margin-left: 2%;
      outline: none;
      cursor: pointer;
      font-weight: 400;
      border-radius: 3px;
      padding: 2px 6px;
      border: 0;
      color: #ffffff;
      background: #000000;
      line-height: 1.15;
      font-size: 13px;
    }

    .btn-sub {
      margin-top: 9%;
      margin-left: 80%;
      outline: none;
      cursor: pointer;
      font-weight: 400;
      border-radius: 3px;
      padding: 7px 14px;
      border: 0;
      color: #000000;
      background: #e7ebee;
      line-height: 1.15;
      font-size: 16px;
    }

    .btn-sub:hover {
      transition: all .1s ease;
      box-shadow: 0 0 0 0 #fff, 0 0 0 3px #da0c0c;
    }

    .head2 {
      margin-left: 17px;
      margin-top: 4px;
    }

    #url {
      padding: 3px;
      border: 2px solid #007BFF;
      border-radius: 5px;
      font-size: 16px;
      width: 60%;
    }

    input {
      padding: 2px;
      border: 2px solid #007BFF;
      border-radius: 5px;
      font-size: 18px;
      width: 30%;
    }

    .row label {
      margin-right: 12px;
    }

    .row button#delete {
      background-color: red;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 11px;
    }

    #_checkbox {
      display: none;
    }

    .authcheckbox {
      position: absolute;
      left: 86%;
      width: 24px;
      height: 24px;
      margin-top: 22px;
      background-color: #f72414;
      transform: translateY(-50%);
      border-radius: 50%;
      box-shadow: 0 3px 4px #ffbeb8;
      cursor: pointer;
      transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
      overflow: hidden;
      z-index: 1;
    }

    .authcheckbox:before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      width: 18px;
      height: 18px;
      margin: 0 auto;
      background-color: #fff;
      transform: translateY(-50%);
      border-radius: 50%;
      box-shadow: inset 0 3px 4px #ffbeb8;
      transition: 0.2s ease width, 0.2s ease height;
    }

    .authcheckbox:hover:before {
      width: 15px;
      height: 15px;
      box-shadow: inset 0 3px 4px #ff9d96;
    }

    .authcheckbox:active {
      transform: translateY(-50%) scale(0.9);
    }

    #_checkbox:checked+.authcheckbox {
      background-color: #07d410;
      box-shadow: 0 3px 4px #000000;
    }

    #_checkbox:checked+.authcheckbox:before {
      width: 0;
      height: 0;
    }

    .sts {
      margin-top: 80px;
      margin-left: 32px;
      font-size: 24px;
    }

    #sts {
      margin-top: 15px;
      font-size: 24px;
    }

    #copyfun1,
    #copyfun2,
    #copyfun3 {
      margin-top: 60px;
      margin-left: 49px;
      width: 580px;
      padding: 15px;
      border: 1px solid #000000;
      border-radius: 5px;
      font-size: 16px;
      resize: none;
    }

    #copyfun4 {
      margin-top: 49px;
      margin-left: 49px;
      width: 580px;
      height: 77px;
      padding: 15px;
      border: 1px solid #000000;
      border-radius: 5px;
      font-size: 16px;
      resize: none;
    }

    .tokenText {
      margin-top: 10px;
      margin-left: 10px;
      width: 500px;
      padding: 15px;
      border: 1px solid #000000;
      border-radius: 5px;
      font-size: 16px;
      resize: none;
    }

    .tblsplit {
      margin-top: 50px;
      margin-left: 49px;
      width: 600px;
      height: 90px;
      padding: 10px;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    textarea {
      width: 50%;
    }

    .copybtn {
      font-size: 19px;
      padding: 2px 2px;
      margin-top: 131px;
      margin-right: 53px;
    }

    .copybtn1 {
      font-size: 19px;
      padding: 2px 2px;
      margin-top: 93px;
      margin-right: 53px;
    }

    .copy {
      font-size: 19px;
      padding: 3px 3px;
      margin-top: 70px;
      margin-right: 25px;
    }

    .file {
      margin-top: 30px;
      margin-left: 440px;
      width: 30%;
      font-size: 15px;
    }

    .json-checkbox {
      margin-left: 650px;
      margin-bottom: 40px;
    }

    .params-input {
      margin-left: 477px;
      margin-top: -15px;
    }

    .url-input {
      height: 28px;
    }

    .options {
      border: 2px solid #007BFF;
      border-radius: 5px;
      font-size: 10px;
      height: 34px;
    }

    .json {
      font-size: 18px;
      margin-top: 22px;
      margin-left: 538px;
      position: absolute;
    }

    .vl {
      border-left: 4px solid rgb(0, 0, 0);
      min-height: 815px;
    }

    .checked {
      margin-top: 41px;
    }
  </style>
  <title>Test</title>
</head>

<body>

  <div class="split left">
    <form id="requestForm">
      <h2 class="req">Request - Details</h2>
      <div class="tbl">
        <div class="lbl">
          <label>API URI : </label>
          <input class="url-input" type="text" id="url" required>
        </div>
        <div class="lbl">
          <label>Method &nbsp;&nbsp;: </label>
          <select class="options" id="method" required>
            <option value="">Select</option>
            <option value="get">GET</option>
            <option value="post">POST</option>
            <option value="put">PUT</option>
            <option value="delete">DELETE</option>
            <option value="patch">PATCH</option>
          </select>
          <br>
        </div>
      </div>

      <h2 class="paramsHead">Parameters</h2>
      <label class="json" id="json-text">Json</label>
      <div class="checked"><input type="checkbox" id="parameter-checkbox" class="params-input"></div>
      <button class="btn-add" type="button" id="add-params">+</button>
      <div class="tbl2" id="tparams" style="display: block;"></div>

      <h2 class="head">Headers</h2>
      <div class="btn"><button class="btn-header" type="button" id="add-headers">+</button></div>
      <div class="tbl3" id="theades"></div>

      <h2 class="head4">Token</h2>
      <div class="tbl4">
        <input type="checkbox" id="_checkbox">
        <label class="authcheckbox" for="_checkbox"></label>
        <div class="token" id="token" style="display: none;">
          <div><button class="btn-gen" id="buttonGen">Generate</button></div>
          <textarea class="tokenText" id="copyGen" rows="4" cols="50">
          </textarea>
          <button class="copy" onclick="copyText('copyGen')"><i class="fa fa-copy"></i></button>

        </div>
      </div>
      <input id="file" class="file" name="file" type="file" />
      <button class="btn-sub" type="submit" id="submit">Submit</button>
    </form>
  </div>

  <div class="split right">
    <label class="sts">Status :</label>
    <label id="statusValue"></label>
    <br><br>
    <label class="sts">Response Time :</label>
    <label id="responseTime"></label>
    <div>
      <h2 class="headt2">Request Header</h2>
      <div class="container">
        <textarea id="copyfun1" rows="4" cols="50" readonly></textarea>
        <button class="copybtn" onclick="copyText('copyfun1')"><i class="fa fa-copy"></i></button>
      </div>
      <h2 class="headt2">Request Body</h2>
      <div class="container">
        <textarea id="copyfun2" rows="4" cols="50" readonly></textarea>
        <button class="copybtn" onclick="copyText('copyfun2')"><i class="fa fa-copy"></i></button>
      </div>
      <div class="lbl"></div>
      <h2 class="headt2">Response Header</h2>
      <div class="container">
        <textarea id="copyfun3" rows="4" cols="50" readonly></textarea>
        <button class="copybtn" onclick="copyText('copyfun3')"><i class="fa fa-copy"></i></button>
      </div>
      <div class="lbl"></div>
      <h2 class="headt4">Response Body</h2>
      <div class="container">
        <textarea id="copyfun4" rows="4" cols="50" readonly></textarea>
        <button class="copybtn1" onclick="copyText('copyfun4')"><i class="fa fa-copy"></i></button>
      </div>
    </div>
  </div>

  <script>

    document.addEventListener("DOMContentLoaded", function () {
      let parameterCheckbox = document.getElementById("parameter-checkbox");
      let addParams = document.getElementById("add-params");
      let addParamsButton = document.getElementById("add-params");
      let tparams = document.getElementById("tparams");
      let addHeaders = document.getElementById("add-headers");
      let paramsCheckbox = document.querySelector('.params-input');
      let jsonText = document.getElementById('json-text');


      let data = [{}];

      addParams.addEventListener("click", addElements);
      addHeaders.addEventListener("click", addElements);

      function deleteRow(e) {
        e.preventDefault();
        const rowToDelete = e.target.parentElement;
        const table = rowToDelete.parentElement;
        table.removeChild(rowToDelete);
      }

      async function sendReq(url, options, body) {
        if (body) {
          options.body = JSON.stringify(body);
        }
        for (const [name, value] of body.entries()) {
          console.log(`${name}: ${value}`);
        }
        
        const response = await fetch(url, {
          method: "POST",
          body
        })
        const responseJosn = await response.json();
        console.log(responseJosn)
        if (response.status === 500) {
          handleError(response, responseJosn);
        } else {
          handleSuccess(response, responseJosn);
        }
      }

      function handleError(response, responseJosn) {
        alert(responseJosn.tip);
      }

      function addTextareaToTbl2(className) {
        let textarea = document.createElement("textarea");
        textarea.id = "params-textarea";
        textarea.className = "tokenText " + className;
        tparams.appendChild(textarea);
      }

      addParams.addEventListener("click", function () {
        document.getElementById("parameter-checkbox").style.display = "none";
        document.getElementById("json-text").style.display = "none";
      });

      addParamsButton.style.display = parameterCheckbox.checked ? "none" : "block";

      parameterCheckbox.addEventListener("change", function () {
        if (parameterCheckbox.checked) {
          addTextareaToTbl2("class1");
        } else {
          while (tparams.firstChild) {
            tparams.removeChild(tparams.firstChild);
          }
        }
      });

      const checkboxes = document.querySelectorAll("parameter-checkbox");
      checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function () {
          const id = this.dataset.inputId;
          if (this.checked === true) {
            document.getElementById(id).style.display = 'block';
          } else {
            document.getElementById(id).style.display = 'none';
          }
        });
      });

      paramsCheckbox.addEventListener('change', function () {
        const input1 = document.getElementById("add-params");

        if (this.checked === true) {
          input1.style.display = 'none';
        } else {
          input1.style.display = 'block';
        }
      });

      function handleSuccess(response, responseJosn) {
        setStatus(responseJosn.status);
        responseTime(responseJosn.responseTime);
        reqHeadersOut(responseJosn.reqHeaders);
        reqBody(responseJosn.reqBody);
        resHeadersOut(responseJosn.resHeaders);
        resBodyOut(responseJosn.resBody)
      }

      // Add new Elements

      function addElements(e) {
        let table;
        let id;
        if (this.id == 'add-params') {
          table = document.getElementById("tparams");
          id = "params";
        } else if (this.id == 'add-headers') {
          table = document.getElementById("theades");
          id = "headers";
        }

        const row = document.createElement("div");
        row.className = "row";
        ["Key", "Value"].forEach(element => {
          let label = document.createElement("label");
          label.textContent = element;
          let input = document.createElement("input");
          input.setAttribute("name", id + "_" + element.toLocaleLowerCase());
          label.appendChild(input);
          row.appendChild(label);
        });
        let deleteBtn = document.createElement("button")
        deleteBtn.textContent = "X";
        deleteBtn.setAttribute("id", "delete");
        deleteBtn.addEventListener('click', deleteRow);
        row.appendChild(deleteBtn);
        table.append(row);
      }

      // Form Submit
      let form = document.getElementById("requestForm");
      form.addEventListener("submit", submit);

      function submit(e) {
        e.preventDefault();

        // Create a FormData object to collect form data
        let formData = new FormData();

        // URL
        let urlInput = document.getElementById("url");
        console.log(urlInput.value)
        formData.append("url", "" + urlInput.value);

        // Method
        let methodInput = document.getElementById("method");
        formData.append("method", methodInput.value);

        // File Upload
        const fileInput = document.getElementById("file");
        if (fileInput.files[0]) {
          formData.append("file", fileInput.files[0]);
        }

        // Parameter Input
        let parameterCheckbox = document.getElementById('parameter-checkbox');
        let paramsTextarea = document.getElementById("params-textarea");

        if (parameterCheckbox.checked) {
          formData.append("parameterInput", paramsTextarea.value);
        } else {
          formData.append("parameterInput", null);
        }

        // Parameters
        let paramsKeys = document.getElementsByName("params_key");
        let paramsValues = document.getElementsByName("params_value");

        let params = {};
        for (let i = 0; i < paramsKeys.length; i++) {
          const value = paramsValues[i].value;
          const key = paramsKeys[i].value;
          if (key.includes('.')) {
            let array = key.split('.');
            key = array[0];
            index = array[1];
            params[key][index] = value;
            // formData.append(`params[${key}][${index}]`, value);
          } else {
            params[key] = value;
            // formData.append(`params[${key}]`, value);
          }
        }

        formData.append("params", JSON.stringify(params));

        // Headers
        let headersKeys = document.getElementsByName("headers_key");
        let headersValues = document.getElementsByName("headers_value");

        let headers = {};
        for (let i = 0; i < headersKeys.length; i++) {
          headers[headersKeys[i].value] = headersValues[i].value;
        }

        formData.append("headers", JSON.stringify(headers));

        // Authentication
        formData.append("authentication", document.getElementById("_checkbox").checked);

        // Send request with formData
        console.log("jhsf", formData.entries())
        sendReq('/test/shopify', {
          method: 'POST'
        }, formData);

        // Generate Token
        let token = document.getElementById("buttonGen");
        token.addEventListener("click", buttonGen);

        async function buttonGen(e) {
          e.preventDefault();
          let options = {};
          options.headers = {
            'Content-Type': 'application/json'
          }
          const response = await fetch('/token', options)
          const responseJosn = await response.json();
          document.getElementById('copyGen').value = responseJosn.token;
        }
       
      }
    });

    // Auth Checkbox
    const checkbox = document.getElementById("_checkbox");
    checkbox.addEventListener("change", change);

    let authBox = document.getElementById("token");
    checkbox.addEventListener("change", change);

    function change(e) {
      authBox.style.display = checkbox.checked == true ? "block" : "none";
    }

    // Copy Function
    function copyText(textAreaId) {
      var textarea = document.getElementById(textAreaId);
      textarea.select();
      document.execCommand('copy');
    }
    function reqHeadersOut(headers) {
      document.getElementById("copyfun1").value = JSON.stringify(headers, undefined, 2) ?? 'Not Available';
    }
    function reqBody(body) {
      document.getElementById("copyfun2").value = JSON.stringify(body, undefined, 2) ?? 'Not Available';
    }
    function resHeadersOut(headers) {
      document.getElementById("copyfun3").value = JSON.stringify(headers, undefined, 2) ?? 'Not Available';
    }
    function resBodyOut(body) {
      document.getElementById("copyfun4").value = JSON.stringify(body, undefined, 2) ?? 'Not Available';
    }


    // Response Status
    function setStatus(status) {
      if (status < 300) {
        document.getElementById("statusValue").innerHTML = status;
        document.getElementById("statusValue").style.color = 'green';
      } else {
        document.getElementById("statusValue").innerHTML = status;
        document.getElementById("statusValue").style.color = 'red';
      }
    }
    function responseTime(responseTime) {
      document.getElementById("responseTime").innerHTML = responseTime;
    }

  </script>
</body>

</html>